// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  background-color: #565656;
  border: none;
  padding: 10px 20px;
}

.social-btn a:link, a:visited {
  color: white;
  text-align: center; 
  text-decoration: none;
}

.social-btn a:hover {
  color: white;
}